@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body  {
    height: 100vh;
    box-sizing: border-box;
    background-color: #BFDEDD;
    color: #89537C;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1 {
    font-size: 35px;
}

.titulo-destaque {
    color: #2A5E5D;
}
.apresentacao {
    margin: 10% 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 651px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: "Krona One", sans-serif;  
    text-align: justify;
    text-justify: inter-word;
}
.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #440737;
    text-align: justify;
    text-justify: inter-word;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.img__livrinhos{
    border-radius: 12px;
}
.apresentacao__links__link{
    /* background-color: #64b353; */
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 300px;
    text-align: center;
    border: 5px solid;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0px;
    text-decoration: none;
    color: #440737;
    font-family: "Montserrat", sans-serif;
}
.apresentacao__links__link:hover {
    background-color: #3b8382;
    color: #BFDEDD;
    border-color: #2A5E5D;
}
.apresentacao__links__link:hover img{
    filter: invert(100%);
}
.apresentacao__links__subtitle {
    color: #440737;
    font-size: 24px;
    font-family: "Krona one", sans-serif;
    font-weight: 400;
}
