*{
    margin: 0;
    padding: 0;
}

body  {
    height: 100vh;
    box-sizing: border-box;
    background-color: #DEBFD7;
    color: #8E3178;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
h1 {
    font-size: 35px;
}

.titulo-destaque {
    color: #41A32A;
}
.apresentacao {
    display: flex;
    align-items: center;
}
p {
    font-size: 14px;
    margin: 25px 180px 25px 0px;
}

.texto-destaque {
    color: #440737;
    font-size: 25px;
}
a {
    color: #392735;
}
img {
    margin: 25px 0px 25px 25px;
}